<html lang="es">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="Videos de stock gratis HD 4K Descargar clips libres de derechos" />
<meta property="og:description" content="Descargue material de archivo y clips de vídeo en alta definición gratuitos; videvo ofrece una gran selección de videoclips en alta definición, gráficos en movimiento y material de archivo gratuito." />
<meta property="og:site_name" content="Free Stock Footage - Videv.net" />
<meta property="og:url" content="https://www.videv.net" />
<meta property="og:image" content="/img/Logo_2.png"/>

<title>Galería videos de youtube</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/style.css">	
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<script src="js/galeria.js"></script>
</head>
<body>
<script src="C_4"></script>	

<script>
	
$(document).ready(function(){
	var videos = "https://www.youtube.com/watch?v=O0feRFu3WyY, https://www.youtube.com/watch?v=BMfp-mO0RnM, https://www.youtube.com/watch?v=BfuFecCLh6s, https://www.youtube.com/watch?v=bioeRp3RwF4";

		// cargar galeria de vídeos
		crear_galeria(videos);

});



</script>

	<div class="contenedor">

<div class="video-galeria">
	<div class="video-ver">
<div class="video-container">
<iframe src="" frameborder="0" allowfullscreen></iframe>
</div>
</div>

<div class="video-lista">
	<ul>
	</ul>
</div>

</div>

</div>

</body>
</html>
